/*
  Project: RFS ACF JSON Sync Notice
  Author: rfswp
 */

$color-white: #ffffff;
$color-blue: #007cba;
$transition: all 0.3s ease-in-out;

.rfs-acf-sync-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;

  &.hide {
    display: none;
  }
}

.rfs-acf-sync-modal-inner {
  position: relative;
  top: 5%;
  width: 350px;
  padding: 15px;
  background-color: $color-white;
  box-shadow: 0 0 9px -1px rgba(0, 0, 0, 0.25);
}

.rfs-acf-sync-modal-heading {
  background-color: $color-blue;
  color: $color-white;
  text-align: center;
  padding: 10px;
  margin: -15px -15px 0;
}

.rfs-acf-sync-modal-text {
  font-weight: bold;
  font-size: 14px;
}

.rfs-acf-sync-modal-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}